.photosize {
    width: 60px;
    height: 40px;
}
.layui-footer{
    text-align: center;
    font-size:12px;
}
.iconfont{
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px;
    margin-left: 20px;
}
iframe{
    height:100%;
    width: 100%;
}
.layui-body{
    overflow: hidden;
}
.userinfo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;

}
.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b28;
}
.layui-nav-img {
    height: 40px;
    width: 40px;
}
.text-avater {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 4px;
    margin-right: 10px;
}